**/build/
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.rar
*.tar.gz
*.war
*.zip
.gradle
.gradletasknamecache
.idea
.idea_modules/
.mtj.tmp/
/out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
gradle-app.setting
hs_err_pid*
modules.xml
